<p>detailst works!</p>
<div *ngIf="message">
    <span><strong> Name: </strong>{{message.firstName}}</span><br><br>
    <span><strong>Last Name: </strong>{{message.lastName}}</span><br><br>
        <span><strong>Phone Number: </strong>{{message.number}}</span><br><br>
            <span><strong>Personale mail: </strong>{{message.email}}</span><br><br>
                <span><strong>date Of Birth: </strong>{{message.dob}}</span><br><br>
                    <span><strong>Company mail: </strong>{{message.Cmail}}</span>
    </div>
